.head{
    color:red;
    margin-bottom:40px;
}

.btn{
    color:red;
    border:none;
    margin-top:20px;
    padding:18px;
    height:200px;
    width:100px;
    background-color:aquamarine;
    text-decoration: none;
    border-radius:20px;

}